/* variables */
:root {
/* colors */

    /* Main */
    --primary-color: #28CB8B;
    --secondary-color: #263238;
    --info-color: #2194f3;

    /* Action */
    --warning-color: #FBC02D;
    --error-color: #E53835;
    --success-color: #2E7D31;

    /* Neutral */
    --black-color: #263238;
    --d-grey-color: #4D4D4D;
    --grey-color: #717171;
    --l-grey-color: #89939E;
    --grey-blue-color: #ABBED1;
    --silver-color: #F5F7FA;
    --white-color: #FFFFFF;

    /* Color Shade */
    --shade-1-color: #43A046;
    --shade-2-color: #388E3B;
    --shade-3-color: #237D31;
    --shade-4-color: #1B5E1F;
    --shade-5-color: #103E13;

    /* Color Tint */
    --tint-1-color: #66BB69;
    --tint-2-color: #81C784;
    --tint-3-color: #A5D6A7;
    --tint-4-color: #C8E6C9;
    --tint-5-color: #E8F5E9;


/* spacing */
    --big-main-space: 144px;
    --small-main-space: 144px;
    --section-top-s: 40px;
    --btn-top-s: 32px;
    --space-8: 8px;
    --space-16: 16px;


/* shadows */
    --shadow-1: 2px 2px 7px 0px rgba(171, 190, 209, 0.2);
    --shadow-2: 4px 4px 7px 0px rgba(170, 188, 206, 0.2);
    --shadow-3: 0px 6px 7px 5px rgba(170, 188, 206, 0.282);

/* typography */
    --font: sans-serif;

}

/* Основной код */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--font);
}

.main-header {
    width: 100%;
    height: 84px;
    padding: 30px 105px;

    background-color: var(--silver-color);

    & nav {
        display: flex;
        justify-content: space-between;
    }

    & ul {
        display: grid;
        grid-template-columns: repeat(6, auto);
        gap: 50px;


        & li {
            justify-self: start;
            align-self: center;
            padding-bottom: 3px;


            font-size: 16px;


            list-style: none;


            cursor: pointer;

            & a {
                width: 100%;


                text-decoration: none;
                color: black;
            }
        } 

        .active-link {
            border-bottom: 2px solid var(--primary-color);
        }
    }
}

.btn-base-size {
    padding: 10px 20px;


    font-size: 14px;


    border: none;
    border-radius: 6px;


    cursor: pointer;
}

.btn-green {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.btn-clear {
    background: none;
    color: var(--primary-color);
}

.btn-nav-box {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 14px;
}

.main-g-padding {
    padding: 0 144px;
}

.banner-section {
    height: 600px;


    background-color: var(--silver-color);


    .content-banner {
        width: 100%;


        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 96px;
    }


    & h1 {
       font-size: 64px; 

       & span {
        color: var(--primary-color);
       }
    }

    .small-text-banner {
        margin-top: var(--space-16);


        font-size: 16px;

        
        color: var(--l-grey-color);
    }


    & button {
        margin-top: var(--btn-top-s);
        padding: 14px 32px;
    }

    .circle-banner-btn {
        width: 10px;
        height: 10px;
        border-radius: 50%;

        background-color: var(--tint-3-color);
    }

    .active-banner-btn {
        background-color: var(--primary-color);
    }

    .box-btns {
        display: flex;
        justify-content: center;


        .box-banner-btns {
            width: 46px;


            display: flex;
            justify-content: space-between;
            padding-top: 70px;
        }
    }

    .hidden-slide {
        display: none;
    }

}

